.App {
	margin: auto;
	margin-top: 100px;
	min-width: 200px;
	max-width: 1300px;
	width: 70%;
	padding: 50px;
	border-radius: 50px;
	background: rgb(235, 179, 77);
}


.window-shopping {
	grid-template-columns: 1fr 1fr;
	columns: 2;
}

.categories * {
	flex-wrap: wrap;
	justify-content: space-around;

}

.categories * button {
	font-size: 1.5em;
}